html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*   header  */
.container{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    background-color:red;
    height: 80px;
    width: 100%;
    margin: 0;
}
.search-bar{
    margin:10px;
}
#left-side{
    display:flex;
    flex-direction:row;
}
#right-side{
    display:flex;
    flex-direction:row;
}
.icon-right{
    margin: 10px;

}
.icon-left{
    margin: 10px;  
}


/* section */
.lower-part{
    padding: 20px 50px 20px 50px;
    
    height: 100%;
    background-color: blue;
    display: flex;
}

.media-comments{
    width: 60%;
    background-color: white;
}
.reccomendations{
    width: 40%;
    background-color: bisque;
}

/* body */
body{
    padding: 10px;
    margin: 10px;
}



/* video */
.my-video{
    width: 100%;
    height: 58vh;
}
.media-name{
    padding: 10px;
}

/* hashes */
.hashes{
    font-size:1.2rem;
    margin:10px;
}
.video-name{
    font-size: 2rem;
    font-family: Roboto, Arial, sans-serif;
    margin-left:10px;
}
.views-likes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #606060;
}
.views-likes > div{
    margin:10px;
    font-size: 1.4rem;
}
.right-side-likes{
    display: flex;
    flex-direction: row;
}
.right-side-likes > div{
    margin:0 10px;
}